<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ReceiveServlet</servlet-name>
        <servlet-class>ReceiveServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoctorAdmission</servlet-name>
        <servlet-class>DoctorAdmission</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>indexServlet</servlet-name>
        <servlet-class>indexServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoctorServlet</servlet-name>
        <servlet-class>DoctorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>billingServlet</servlet-name>
        <servlet-class>billingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DischargeServlet</servlet-name>
        <servlet-class>DischargeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FireServlet</servlet-name>
        <servlet-class>FireServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>SearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DepartmentServlet</servlet-name>
        <servlet-class>DepartmentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PatientServlet</servlet-name>
        <servlet-class>PatientServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteServlet</servlet-name>
        <servlet-class>deleteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ReceiveServlet</servlet-name>
        <url-pattern>/ReceiveServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoctorAdmission</servlet-name>
        <url-pattern>/DoctorAdmission</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>indexServlet</servlet-name>
        <url-pattern>/indexServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoctorServlet</servlet-name>
        <url-pattern>/DoctorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>billingServlet</servlet-name>
        <url-pattern>/billingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DischargeServlet</servlet-name>
        <url-pattern>/DischargeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FireServlet</servlet-name>
        <url-pattern>/FireServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/SearchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DepartmentServlet</servlet-name>
        <url-pattern>/DepartmentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PatientServlet</servlet-name>
        <url-pattern>/PatientServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteServlet</servlet-name>
        <url-pattern>/deleteServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
